.ContactHeader {
  margin: 0 auto;
  max-width: 1200px;
}

.ContactHeader h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 16px;
}

.ContactHeader p {
  width: 975px;
  height: 72px;
  top: 220px;
  left: 188px;

  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  /* letter-spacing: 0%; */
  color: #5a5959;
}
